@import "variables";
@import "functions";

mat-accordion.omniak {
  .mat-expansion-panel {
    background: var(--accent-500) !important;
  }
  .mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 8px 16px 16px 24px;
  }
  .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--accent-contrast-500);
  }
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
    background-color: var(--accent-500) !important;
  }
  .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-indicator::after {
    color: var(--accent-contrast-500);
  }
}
