@import "variables";
@import "functions";
.mat-accordion .mat-expansion-panel {
  background-color: map-get($accent-palette, 500);
}
.mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 8px 16px 16px 24px;
}
mat-accordion.mat-accordion
  .mat-expansion-panel
  .mat-expansion-panel-header
  .mat-expansion-panel-header-title {
  display: flex;
  align-items: center;
  gap: 20px;
  color: map-deep-get($accent-palette, contrast, 500);
}
mat-accordion.mat-accordion
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background-color: map-get($accent-palette, 500);
}
mat-accordion.mat-accordion
  .mat-expansion-panel
  .mat-expansion-panel-header
  .mat-expansion-indicator::after {
  color: map-deep-get($accent-palette, contrast, 500);
}
