@import "variables";

.main {
    height: 100%;
    overflow-y: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-500);
}
.box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.form-card {
    width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 500;
    font-size: x-small;
}
form {
    padding: 30px;
    border-radius: 8px;
    display: grid;
    gap: 10px;
}
h1 {
    text-align: center;
}

@keyframes animatedBackground {
    from {
        background-size: 0%;
    }
    to {
        background-size: 42%;
    }
}

@media screen and (max-width: $large-breakpoint) {
    .main {
        background-size: 0%;
        animation: none;
    }
}
