.overview-title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
}
.item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px 10px;
}
.item-name {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 20px;
    span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
