@import "variables";
@import "functions";

$header-height: 56px;
$bottom-nav-height: 56px;
$rail-width: 88px;
$drawer-width: 300px;
$base-color: var(--accent-700);
$base-color-contrast: var(--accent-contrast-700);
$border-base-color: var(--accent-500);
$active-color: var(--primary-500);
$active-color-contrast: var(--accent-contrast-500);
$drawer-color: var(--accent-500);

.img-logo {
  height: $header-height;
}

.active {
  background-color: $active-color;
  color: $active-color-contrast;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-rows: $header-height auto;
}
.header {
  z-index: 999;
  background-color: $base-color;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.main {
  overflow-y: auto;
}
