@import "variables";

.img-logo {
  height: $header-height;
}
.current-theme {
  background-color: var(--primary-500);
  color: var(--accent-contrast-500);
}
.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.layout {
  height: 100%;
  display: grid;
  grid-template-rows: $header-height auto;
}
.header {
  z-index: 999;
  background-color: var(--accent-700);
  color: var(--accent-contrast-700);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.main {
  overflow-y: auto;
}
