// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "mixins";

$bh-typography: mat.define-typography-config(
    $font-family: "Nunito",
);

$primary-palette: (
    50: #e3f6f2,
    100: #baeade,
    200: #8cdcc9,
    300: #5dcdb3,
    400: #3bc3a2,
    500: #18b892,
    600: #15b18a,
    700: #11a87f,
    800: #0ea075,
    900: #089163,
    A100: #beffe7,
    A200: #8bffd3,
    A400: #58ffc0,
    A700: #3fffb7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
$accent-palette: (
    50: #e1e6e6,
    100: #b4c2bf,
    200: #829995,
    300: #50706b,
    400: #2b514b,
    500: #05322b,
    600: #042d26,
    700: #042620,
    800: #031f1a,
    900: #011310,
    A100: #54ffd9,
    A200: #21ffce,
    A400: #00edb8,
    A700: #00d4a5,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$warn-palette: (
    50: #fee8e7,
    100: #fcc7c3,
    200: #faa19b,
    300: #f77b72,
    400: #f65f54,
    500: #f44336,
    600: #f33d30,
    700: #f13429,
    800: #ef2c22,
    900: #ec1e16,
    A100: #ffffff,
    A200: #ffe9e9,
    A400: #ffb8b6,
    A700: #ff9f9c,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// In this case we have manually defined the color palettes in the _variables.scss file.
$bh-primary: mat.define-palette($primary-palette);
$bh-accent: mat.define-palette($accent-palette);
// The warn palette is optional (defaults to red).
$bh-warn: mat.define-palette($warn-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bh-theme: mat.define-light-theme(
    (
        color: (
            primary: $bh-primary,
            accent: $bh-accent,
            warn: $bh-warn,
        ),
        typography: $bh-typography,
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

:root {
    .bh {
        @include mat.all-component-colors($bh-theme);
        @include generate-colors-variables($bh-theme);
    }
}
