<div class="time-picker-test" grid-columns gap="20px" alignItems="center">
    <h3>Test 1</h3>
    <mat-form-field floatLabel="always" class="picker">
        <mat-label>Time Picker</mat-label>
        <app-time-picker [formControl]="timeControl" #picker="timePicker"></app-time-picker>
        <mat-hint>Il formato è hh:mm</mat-hint>
        <mat-error>Invalid Field</mat-error>
    </mat-form-field>
    <pre>
        {{timeControl.value | json}}
    </pre>
    <button mat-raised-button color="primary" (click)="test1()">Log</button>
</div>
<hr>
<div class="mbsc" grid-columns gap="20px">
    <h3>Test 2</h3>
    <mbsc-datepicker [(ngModel)]="time" themeVariant="light" [controls]="['time']" timeFormat="H'H'm'M'"
        [options]="options" [stepMinute]="15" display="inline" [touchUi]="(isMobile$ | async) ?? false"
        defaultSelection="0H0M" maxTime="8H0M" returnFormat="locale"  [headerText]="prova()"/>
    <p>Time: {{time}}</p>
    <button mat-raised-button color="primary" (click)="test2()">Log</button>
</div>