$header-height: 56px;
$bottom-nav-height: 56px;
$rail-width: 88px;
$drawer-width: 300px;
$base-color: #16394e;
$base-color-contrast: #fff;
$border-base-color: #395769;
$active-color: #91b822;
$active-color-contrast: #fff;

.logo {
  font-size: large;
  font-weight: bold;
  color: $base-color-contrast;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-areas: "header header" "left-nav-rail drawer-container";
  grid-template-rows: $header-height auto;
  grid-template-columns: $rail-width auto;
}
.left-nav-rail {
  padding: 15px 0;
  background-color: $base-color;
  grid-area: left-nav-rail;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid $border-base-color;
}
.bottom-nav-rail {
  z-index: 999;
  display: none;
  grid-area: bottom-nav-rail;
  background-color: $base-color;
  color: $active-color-contrast;
}
.header {
  z-index: 999;
  background-color: $base-color;
  grid-area: header;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
}
.drawer-toggle {
  color: $active-color-contrast;
  display: none;
}
.drawer-container {
  grid-area: drawer-container;
}
.drawer {
  padding: 20px;
  width: $drawer-width;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $base-color;
  color: #e3e3e3;
}
.drawer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content {
  padding: 20px;
}

.menu-item {
  width: 100%;
  color: $active-color-contrast;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

span {
  font-weight: 500;
  font-size: 11px;
}

.menu-item-icon {
  transition: 0.2s;
  border-radius: 25px;
  padding: 5px 15px;
  &:hover {
    background-color: $active-color;
    transform: scale(1.1);
  }
}

.active-item-icon {
  transition: 0.5s;
  color: $active-color-contrast;
  background-color: $active-color;
}
.active-item-text {
  color: $active-color-contrast;
}

.submenu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $base-color-contrast;
  gap: 20px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  border-radius: 20px;
  &:hover {
    background-color: $active-color;
  }
}

@media screen and (max-width: 960px) {
  .layout {
    grid-template-areas: "header" "drawer-container" "bottom-nav-rail";
    grid-template-rows: $header-height auto $bottom-nav-height;
    grid-template-columns: auto;
  }
  .bottom-nav-rail {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .left-nav-rail {
    display: none;
  }
  .drawer-toggle {
    display: block;
  }
}
