<nav>
  <ul>
    <li
      (mouseenter)="hidden = false; selected = item.children ?? null"
      (mouseleave)="hidden = true"
      *ngFor="let item of menu"
    >
      <mat-icon [fontIcon]="item.icon"></mat-icon>
      <span>{{ item.name }}</span>
    </li>
  </ul>
  <div
    class="drawer mat-elevation-z4"
    [class.hidden-drawer]="hidden || !selected"
    (mouseenter)="hidden = false"
    (mouseleave)="hidden = true"
  >
    <span *ngFor="let item of selected">{{ item.name }}</span>
  </div>
</nav>
