<div class="layout">
  <mat-toolbar class="header mat-elevation-z2">
    <span class="logo">Omnia K</span>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <div class="menu">
    <div class="menu-item" (mouseenter)="hidden = false; selected = item.subMenu ?? null" (mouseleave)="hidden = true"
      *ngFor="let item of menu" [routerLink]="item.path">
      <mat-icon class="menu-item-icon" *ngIf="item.icon" [fontIcon]="item.icon"
        routerLinkActive="active-item-icon"></mat-icon>
      <span class="item-name" routerLinkActive="active-item-text">{{ item.name }}</span>
    </div>
  </div>
  <div class="drawer mat-elevation-z4" [class.hidden-drawer]="hidden || !selected" (mouseenter)="hidden = false"
    (mouseleave)="hidden = true">
    <div *ngFor="let item of selected" class="submenu-item" [routerLink]="item.path"
      routerLinkActive="active-item-icon">
      <mat-icon *ngIf="item.icon" [fontIcon]="item.icon"></mat-icon>
      <span>{{ item.name }}</span>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>