nav {
  height: 100vh;
  display: flex;
}

ul {
  background-color: #f3f6fc;
  width: 88px;
  padding: 20px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  z-index: 999;
}

li {
  width: 100%;
  color: #444746;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding-bottom: 15px;
}

span {
  font-weight: 500;
  font-size: 12px;
}

mat-icon {
  border-radius: 50px;
  padding: 5px 15px;
  transition: 0.1s;
  &:hover {
    background-color: #e6e9ee;
    transform: scale(1.1);
  }
}

.drawer {
  transition: 0.3s;
  width: 250px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f3f6fc;
  height: 100%;
  border-left: 1px solid #e1e3e1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  outline: 20px;
  span {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    width: calc(100% - 40px);
    margin-top: 5px;
    &:first-child {
      margin-top: 10px;
    }
    &:hover {
      background-color: #e5e8ee;
    }
  }
}

.mat-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.hidden-drawer {
  transform: translateX(-270px);
}
