@import "variables";

.main {
    height: 100%;
    overflow-y: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-500);
    background-image: url("/assets/images/login-bg.webp");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 42%;
    transition: .5s ease-in-out;
}
.box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.owner {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: 500;
    font-size: x-small;
}
form {
    width: 300px;
    padding: 30px;
    border-radius: 8px;
    display: grid;
    gap: 10px;
}
h1 {
    text-align: center;
}

@media screen and (max-width: $large-breakpoint) {
    .main {
        background-image: none;
    }
}
