<div class="mobile-menu">
  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="over" #drawer class="drawer">
      <!-- <div class="drawer-menu">
                <div *ngFor="let item of menu" class="submenu-item" [routerLink]="item.path"
                    routerLinkActive="active-item-icon">
                    <mat-icon *ngIf="item.icon" [fontIcon]="item.icon"></mat-icon>
                    <span>{{ item.name }}</span>
                    <mat-icon *ngIf="item.children">chevron_right</mat-icon>
                </div>
            </div> -->
      <mat-accordion displayMode="flat">
        <mat-expansion-panel *ngFor="let item of menu" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{ item.icon }}</mat-icon>
              {{ item.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="drawer-menu">
            <div
              *ngFor="let item of item.children"
              class="submenu-item"
              [routerLink]="item.path"
              routerLinkActive="active-item-icon"
            >
              <mat-icon *ngIf="item.icon" [fontIcon]="item.icon"></mat-icon>
              <span>{{ item.name }}</span>
              <mat-icon *ngIf="item.children">chevron_right</mat-icon>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div class="bottom-navigation">
    <button
      mat-icon-button
      *ngFor="let shortcut of shortcuts"
      [routerLink]="shortcut.path"
      routerLinkActive="active"
    >
      <mat-icon>{{ shortcut.icon }}</mat-icon>
    </button>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu_open</mat-icon>
    </button>
  </div>
</div>
