<div class="mobile-menu">
  <mat-drawer-container class="drawer-container" [hasBackdrop]="false">
    <mat-drawer mode="push" #drawer class="drawer">
      <div class="menu-title">
        <mat-icon>menu_open</mat-icon>
        <h3>Menu</h3>
      </div>
      <mat-accordion displayMode="flat" class="omniak">
        <mat-expansion-panel *ngFor="let item of menu" class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{ item.icon }}</mat-icon>
              {{ item.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="drawer-menu">
            <div *ngFor="let item of item.children" class="submenu-item" [routerLink]="item.path"
              routerLinkActive="active-item-icon" (click)="drawer.close()">
              <mat-icon *ngIf="item.icon" [fontIcon]="item.icon"></mat-icon>
              <span>{{ item.name }}</span>
              <mat-icon *ngIf="item.children">chevron_right</mat-icon>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div class="bottom-navigation">
    <div class="nav-btn" *ngFor="let shortcut of shortcuts" [routerLink]="shortcut.path" routerLinkActive="active"
      (click)="drawer.close()">
      <mat-icon>{{ shortcut.icon }}</mat-icon>
      <span class="nav-btn-label">{{shortcut.name}}</span>
    </div>
    <div class="nav-btn" (click)="drawer.toggle()">
      <mat-icon>menu_open</mat-icon>
      <span class="nav-btn-label">Menu</span>
    </div>
  </div>
</div>