@import "variables";
@import "functions";

$header-height: 56px;
$bottom-nav-height: 56px;
$rail-width: 88px;
$drawer-width: 320px;
$base-color: var(--accent-700);
$base-color-contrast: var(--accent-contrast-700);
$border-base-color: var(--accent-500);
$active-color: var(--primary-500);
$active-color-contrast: var(--accent-contrast-500);
$drawer-color: var(--accent-500);

.menu-title {
  padding: 0 10px 0 20px;
  font-weight: bold;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  color: var(--accent-contrast-500);
}

.mobile-menu {
  display: grid;
  grid-template-rows: auto 56px;
  height: 100%;
}
.bottom-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $base-color;
  color: $base-color-contrast;
}

.content {
  padding: 20px;
}

.active {
  color: $active-color;
}

.img-logo {
  height: $header-height;
}
.logo {
  font-size: large;
  font-weight: bold;
  color: $base-color-contrast;
}

.drawer-container {
  display: grid;
  overflow-y: auto;
}
.drawer.mat-drawer.mat-drawer-push {
  width: $drawer-width;
  background-color: $drawer-color;
  color: #e3e3e3;
}
.drawer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  width: 100%;
  color: $active-color-contrast;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

span {
  font-weight: 500;
  font-size: 11px;
}

.menu-item-icon {
  transition: 0.2s;
  border-radius: 25px;
  padding: 5px 15px;
  &:hover {
    background-color: $active-color;
    transform: scale(1.1);
  }
}

.active-item-icon {
  transition: 0.5s;
  color: $active-color-contrast;
  background-color: $active-color;
}
.active-item-text {
  color: $active-color-contrast;
}

.submenu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $base-color-contrast;
  border: 1px solid var(--accent-400);
  gap: 20px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  border-radius: 20px;
  &:hover {
    background-color: $active-color;
  }
}

.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-btn-label {
    line-height: 1.8;
    font-size: xx-small;
  }
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .layout {
    grid-template-areas: "header" "drawer-container";
    grid-template-rows: $header-height auto;
    grid-template-columns: auto;
  }
  .bottom-nav-rail {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .left-nav-rail {
    display: none;
  }
  .drawer-toggle {
    display: block;
  }
}
